#teachers h2{
    color: #1A8CFF;
    font-size: 4vw;
    margin-top: 10vh;
    font-weight: 700;
}

#teachers .teachers-image{
    height: 40vh;
    width: 25vw;
}

#teachers h3{
    text-align: center;
    color: #1A8CFF;
    font-size: 3vw;
    margin-top: 8vh;
}

#teachers p{
    color: #737373;
}

#teachers .teacher1{
    background: url(../img/teacher1.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: top center; 
}

#teachers .teacher2{
    background: url(../img/teacher2.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
}

@media (max-width: 1200px) {

    #teachers h2{
        font-size: 4vw;
    }

    #teachers .teachers-image{
        height: 25vh;
        width: 22vw;
    }
    

    #teachers h3{
        font-size: 2vw;
        margin-top: 2vh;
    }
}

/* iPad */
@media screen and (max-width: 768px) {

    #teachers .teachers-image{
        height: 20vh;
        width: 25vw;
    }

    #teachers h3{
        font-size: 3vw;
    }

    #teachers p{
        text-align: center;
    }

}

@media (max-width: 576px){

    #teachers h2{
        font-size: 5vw;
    }

    #teachers .teachers-image{
        height: 15vh;
        width: 25vw;
    }

    #teachers p{
        text-align: center;
    }

    #teachers h3{
        margin-top: 0;
        font-size: 4vw;
    }
}

#buttons{
    background-color: #E6FFFF;
}

#buttons .courses_buttons a{
    text-decoration: none;
    color: #333333;
    font-size: 1.5vw;
}

#buttons .courses_buttons .button_debutant:hover{
    background-color: #1a53ff;
}

#buttons .courses_buttons .button_intermediaire:hover{
    background-color: #f2f2f2;
}

#buttons .courses_buttons .button_avance:hover{
    background-color:#cc0000;
}

#buttons .container h2{
    font-size: 2vw;
    text-align: center;
    margin-top: 3vh;
}

#buttons .courses_buttons button{
    font-size: 3vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    min-width: 15vw;
}

#buttons .courses_buttons .button_debutant, 
#buttons .courses_buttons .button_intermediaire, 
#buttons .courses_buttons .button_avance{
    border-radius: 15px 50px;
    border: none;
    -webkit-box-shadow: 9px 12px 14px 6px #777777;
}

#buttons .courses_buttons .button_debutant{
    background-color: #0066CC;    
}

#buttons .courses_buttons .button_intermediaire{
    background-color: #FFFFFF;    
}

#buttons .courses_buttons .button_avance{
    background-color: #FF0000;
}




@media (max-width: 1200px) {

    #buttons .courses_buttons {
        justify-content: center;
        margin-bottom: 3vh;
    }

    #buttons .courses_buttons button{
        min-width: 20vw;
    }

    #buttons .courses_buttons a{
        font-size: 2vw;
    }
    
}

/* iPad */
@media screen and (max-width: 768px) {

    #buttons h2{
        font-size: 3vw !important;
    }

    #buttons .courses_buttons{
        margin-bottom: 0;
    }

    #buttons .courses_buttons button{
        font-size: 2.8vw;
        margin: 0;
        width: 0;
        max-width: 20vw;
    }
}

@media (max-width: 576px) {

    #buttons h2{
        font-size: 4vw !important;
    }

    #buttons .courses_buttons button{
        font-size: 2.2vw;
        min-width: 25vw;
    }

}




#guides h2{
    color: #1A8CFF;
    font-size: 3.5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-weight: 700;
}

#guides h3{
    color: #1A8CFF;
    font-size: 2.7vw;
}

@media (max-width: 576px){

    #guides h3{
        color: #1A8CFF;
        font-size: 4vw;
    }
}
