#teachers h1,
#guides h1{
    color: #1A8CFF;
    font-size: em;
    margin-top: 10vh;
    font-weight: 700;
}

#teachers .teachers-image{
    height: 40vh;
    width: 25vw;
}

#teachers h3{
    text-align: center;
    color: #1A8CFF;
    font-size: 1.5em;
    margin-top: 5vh;
}

#teachers p,
#guides p{
    color: #737373;
}

#teachers .teacher1, #teachers .teacher2{
    border-radius: 50% 20% / 10% 40%;
    box-shadow: 12px 12px 2px 1px rgba(26, 140, 255, 0.3);
}

#teachers .teacher1{
    background: url(../img/teacher1.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: top center; 
}

#teachers .teacher2{
    background: url(../img/teacher2.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
}

@media (max-width: 1200px) {

    #teachers h1{
        font-size: 4vw;
    }

    #teachers .teachers-image{
        height: 25vh;
        width: 22vw;
    }

    #teachers h3{
        font-size: 2vw;
        margin-top: 2vh;
    }

    
    #teachers .teacher1, #teachers .teacher2{
        border-radius: 50% 20% / 10% 40%;
        box-shadow: 10px 10px 2px 1px rgba(26, 140, 255, 0.3);
    }

}

/* iPad */
@media screen and (max-width: 768px) {

    #teachers .teachers-image{
        height: 20vh;
        width: 25vw;
    }

    #teachers h3{
        font-size: 3vw;
    }

    #teachers p{
        text-align: center;
    }

    #teachers .teacher1, #teachers .teacher2{
        border-radius: 50% 20% / 10% 40%;
        box-shadow: 10px 10px 2px 1px rgba(26, 140, 255, 0.3);
    }
}

@media (max-width: 576px){

    #teachers h1{
        font-size: 5vw;
    }

    #teachers .teachers-image{
        height: 15vh;
        width: 25vw;
    }

    #teachers p{
        text-align: center;
    }

    #teachers h3{
        margin-top: 0;
        font-size: 4vw;
    }

    #teachers .teacher1, #teachers .teacher2{
        border-radius: 50% 20% / 10% 40%;
        box-shadow: 5px 5px 2px 1px rgba(26, 140, 255, 0.3);
        margin-bottom: 1vh;
    }
}

#buttons{
    background-color: #E6FFFF;
}


#buttons .courses_buttons a{
    text-decoration: none;
    font-size: 1.5vw;
}

#buttons .container h2{
    font-size: 2em;
    text-align: center;
    margin-top: 3vh;
    color: #737373;
}

#buttons .courses_buttons button{
    font-size: 0.5em;
    margin-top: 3vh;
    margin-bottom: 3vh;
    min-width: 15vw;
}

#buttons .courses_buttons .button_debutant, 
#buttons .courses_buttons .button_intermediaire, 
#buttons .courses_buttons .button_avance{
    border-radius: 15px 50px;
    border: none;
    -webkit-box-shadow: 9px 12px 14px 6px #777777;
    opacity: 0.8;
    transition: 0.3s;
    top: 0;
}

#buttons .courses_buttons a{
    color: #3b3b3b;
}

#buttons .courses_buttons .button_debutant{
    background-color: #1A8CFF;    
}

#buttons .courses_buttons .button_intermediaire{
    background-color: #FFFFFF;    
}

#buttons .courses_buttons .button_avance{
    background-color: #FF0000;
}

#buttons .courses_buttons .button_debutant:hover, 
#buttons .courses_buttons .button_intermediaire:hover, 
#buttons .courses_buttons .button_avance:hover{
    transform: translate(0, -10px);
    opacity: 1
}


@media (max-width: 1200px) {

    #buttons .courses_buttons {
        justify-content: center;
        margin-bottom: 3vh;
    }

    #buttons .courses_buttons button{
        min-width: 20vw;
    }

    #buttons .courses_buttons a{
        font-size: 2vw;
    }
    
}

/* iPad */
@media screen and (max-width: 768px) {

    #buttons h2{
        font-size: 3vw !important;
    }

    #buttons .courses_buttons{
        margin-bottom: 0;
    }

    #buttons .courses_buttons button{
        font-size: 2.8vw;
        margin: 0;
        width: 0;
        max-width: 20vw;
    }
}

@media (max-width: 576px) {

    #buttons h2{
        font-size: 4vw !important;
    }

    #buttons .courses_buttons button{
        font-size: 2.2vw;
        min-width: 25vw;
    }

}



#guides h3{
    color: #1A8CFF;
    font-size: 2em;
}

@media (max-width: 576px){

    #guides h3{
        color: #1A8CFF;
        font-size: 4vw;
    }
}
