#contact .contact-title{
    margin-top: 10vh;
}

#contact .title-text{
    color: #1A8CFF;
    font-size: 3vw;
}

#contact button{
    max-width: 15vw;
    background-color: #1A8CFF;
    color: #ffffff;
    opacity: 1;
    transition: 0.3s;
    border: transparent;
    font-size: 2.5vh;
    border-radius: 10px;
}

#contact button:hover{ 
    transform: translate(0, -10px);
    opacity: 0.8
} 

@media (max-width: 1200px){

    #contact .contact-button{
        max-width : 40vw; 
    }
}

@media screen and (max-width: 768px) {
 
    #contact .contact-button{
        font-size: 2vh;
    }
}

@media (max-width: 576px){
    #contact .contact-title {
        font-size: 3vh;
    }

    #contact .contact-button{
        font-size: 1.8vh;
    }
}