footer .sns-content, footer .links-content{
    background-color: #f4f0ec !important;
}

footer a{
    text-decoration: none;
    color: #6c757d !important;
}

footer .copyright{
    background-color: #f4f0ec ;
}
