#welcome{
    background: url(../img/teacher.jpg) no-repeat right 50% bottom 80%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%,rgba(230, 255, 255, 0.9) 100%), url(../img/teacher.jpg);
    background-size: cover;
    min-height: 70vh;    
    width: 100%;
}

#welcome .container .row h1{
    /* APPRENEZ LE FRANÇAIS AVEC NOUS ! */
    font-size: 2.7vw;
    padding-left: 8vw;
    margin-top: 15vh;   
    color: #737373;
    font-weight: 700;
}

#welcome .container .row h2{
    /* COURS GRATUITS */
    color: #737373;
    font-size: 2.5vw;
    padding-left: 20vw;
}

#welcome .courses_buttons button{
    font-size: 3vh;
    margin-top: 10vh;
    max-width: 18.5vw;
}

#welcome .courses_buttons a{
    text-decoration: none;
    color: #333333;
}

#welcome .courses_buttons .button_debutant, 
#welcome .courses_buttons .button_intermediaire, 
#welcome .courses_buttons .button_avance{
    border-radius: 15px 50px;
    border: none;
    -webkit-box-shadow: 9px 12px 14px 6px #777777;
}

#welcome .courses_buttons .button_debutant{
    background-color: #0066CC;
}

#welcome .courses_buttons .button_intermediaire{
    background-color: #FFFFFF;
}

#welcome .courses_buttons .button_avance{
    background-color: #FF0000;
}

#welcome .courses_buttons .button_debutant:hover{
    background-color: #1a53ff;
}

#welcome .courses_buttons .button_intermediaire:hover{
    background-color: #f2f2f2;
}

#welcome .courses_buttons .button_avance:hover{
    background-color:#cc0000;
}

@media (max-width: 1200px) {

    #welcome{
        background-size: 80vh;
        background-position: top;
        background-size: cover;
        display: block;
        min-height: 50vh;
        max-height: 70vh;
        text-align: center;

    }

    #welcome .container .row  h1{
        /* APPRENEZ LE FRANÇAIS AVEC NOUS ! */
        font-size: 3vw;
        margin-top: 30vh;
        width: 80vw;
        padding: 20px;
        width: 710px;
        position:relative;
        background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
        background: rgba(204, 204, 204, 0.5);
    }

    #welcome .container .row{
        justify-content: center;
    }

    #welcome .container .row  h2{
        /* COURS GRATUITS */
        font-size: 3vw;
        margin: auto;
        padding: 0;
    }

    #welcome .courses_buttons{
        justify-content: center;
    }

    #welcome .courses_buttons button{
        font-size: 2vh;
        margin-bottom: 7vh;
        max-width: 20vw;
    }

    #welcome .wave-bottom{
        display: none;
    }
}

/* iPad */
@media screen and (max-width: 768px) {

    #welcome{
        background: no-repeat 0 0 cover;
        text-align: center;
        min-height: 50vh;
        padding: 1vh;
    }

    #welcome .container{
        display: inline;
    }

    #welcome .container .row  h1{
        /* APPRENEZ LE FRANÇAIS AVEC NOUS ! */
        font-size: 4vw;  
        padding:20px;
        width: 100%;
        text-align: center;
        position:relative;
        background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
        background: rgba(204, 204, 204, 0.5);
        margin-top: 15vh;
    }

    #welcome .container .row  h2{
        /* COURS GRATUITS */
        font-size: 3.5vw;
        margin: auto;
    }

    #welcome .courses_buttons{
        width: 100vw;
        margin: auto;
    }

    #welcome .courses_buttons button{
        font-size: 2.8vw;
        margin-top: 3vh;
        max-width: 27vw;
    }
}

@media (max-width: 576px) {

    #welcome{
        background-size: 80vh;
        background-position: right 35% bottom 90%;
        background-size: cover;
        display: block;
        min-height: 0;
        max-height: 80vh;
        padding: 1vh;
    }

    #welcome .courses_buttons{
        width: min-content;
        display: inline-flex;
    }

    #welcome .courses_buttons button{
        margin: 0;
    }

}

#introduction{
    padding: 3vh;
    background-color: #E6FFFF;
    height: 75vh;
}

#introduction .course-descriptions{
    transition: transform 500ms ease-in-out 25ms;
}

#introduction .course-descriptions:hover{
    box-shadow: 0 0 5px #1A8CFF, 0 0 5px #1A8CFF, 0 0 10px #1A8CFF;
    transition: box-shadow 0.7s ease-in-out;
    transform: translate(0, -10px);
}

#introduction .introduction_titles{
    text-align: center;
    color: #737373;
}

#introduction .introduction_titles h2{
    font-size: 3vw;
    margin-top: 3vh;
}

.introduction_icons{
    padding: inherit;
}

.introduction_icons h3{
    margin: 1vh;
    padding: inherit;
    color: #1A8CFF;
    font-size: 2vw;
}

@media (max-width: 1200px) {
    
    #introduction .introduction_titles h2{
        font-size: 4vw;
        margin-top: 0;
    }

    #introduction .introduction_titles h3{
        font-size: 2.5vw;
    }

    .introduction_icons h3{
        font-size: 2vw;
    }

    #introduction p{
        font-size: 1.7vw;
    }

    #introduction .shake_anime{
        font-size: 10vw;
    }
}

/* iPad */
@media screen and (max-width: 768px) {

    #introduction{
        height: 100vh;
    }

    .introduction_icons h3{
        font-size: 4vw;
    }

    #introduction p{
        font-size: 2vw;
    }

    #introduction .shake_anime{
        font-size: 10vw;
    }
}

@media (max-width: 576px){
    #introduction{
        height: 90vh;
    }

    #introduction i{
        font-size: 10vh;
    }
}

#mobile-usage{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    box-sizing: border-box;
    background: linear-gradient(180deg, #c9b8b8, #1A8CFF);
    background-blend-mode: screen;
}

#mobile-usage .content{
    max-width:  1200px;
}

#mobile-usage .content h3{
    font-size: 2em;
    color: #fff;
}

#mobile-usage .content p{
    font-size: 1.2em;
    color: #fff;
}

#mobile-usage .image-mobile-usage img{
    max-width: 300px;
    max-height: 700px;
    border-radius: 5%;
    filter: drop-shadow(10px 10px 3px rgb(59, 61, 63));
}

#mobile-usage .image-mobile-usage {
    position: relative;
    z-index: 1000;
}

#mobile-usage .wave{
    position: absolute;
    bottom: 0;
    left: 0;
}

#mobile-usage .images-content{
    position: relative;
    top: 0;
    left: 0;  
}

@media (max-width: 1200px) {
    
    #mobile-usage .content h3{
        font-size: 1em;
    }

    #mobile-usage .content p{
        font-size: 1em;
    }
}

@media (max-width: 768px) {

    #mobile-usage {
        display: flex;
        flex-direction: column;
    }

    #mobile-usage .content p{
        font-size: 0.9em;
        text-align: center;
    }
}

@media (max-width: 576px) {

    #mobile-usage{
        padding: 10px;
    }

    #mobile-usage .image-mobile-usage img{
        max-width: 300px;
        max-height: 300px;
    }
}

#hire-teachers{
    background: url(../img/hire-teachers.jpg) no-repeat right 50% bottom 80%;
    background-image: linear-gradient(to bottom, rgba(25, 67, 136, 0.9) 0%, rgba(25, 67, 136, 0.9) 70%), url(../img/hire-teachers.jpg);
    background-size: cover;
    min-height: 70vh;    
    width: 100%;
}

#hire-teachers .container h3, #hire-teachers .container h2{
    color: #FFFAF2;
}

#hire-teachers .container .btn{
    max-width: 15vw;
    background-color: #1A8CFF;
    opacity: 0.6;
    transition: 0.3s;
    font-size: 2vh;
    top: 0;
}

#hire-teachers .container .btn a{
    color: #FFFAF2;
}

#hire-teachers .container .btn:hover{ 
    transform: translate(0, -10px);
    opacity: 1
} 

#hire-teachers .line{
    color: #FFFAF2;
    font-size: 2.5rem;
    display:block;
    text-transform: none;
}

#hire-teachers .line::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 2px;
    background: #FFFAF2;
    margin-bottom: .5rem;
}

@media (max-width: 1200){
    #hire-teachers .container .btn{
        max-width : 40vw 
    }
}

@media (max-width: 768px){
    #hire-teachers .container .btn{
        max-width : 40vw 
    }
}


@media (max-width: 576px){
    #hire-teachers .container .btn{
        max-width : 40vw 
    }
}

#temoignages{
    max-height: 120vh;
    margin-bottom: 10vh;
}

#temoignages h2{
    color: #1A8CFF;
    font-size: 3.5vw;
}

#temoignages h3{
    color: #1A8CFF;
}

#temoignages .student-comment{
    background-color: #E6FFFF;
} 

#temoignages .student-image{
    height: 30vh;
    width: 18vw;
}

#temoignages .student1{
    background: url(../img/student1.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
}

#temoignages .student2{
    background: url(../img/student2.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
}

#temoignages .student3{
    background: url(../img/student3.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
}

#temoignages .student4{
    background: url(../img/student4.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
}

@media (max-width: 1200px) {
    
    #temoignages{
        max-height: 200vh;
    }

    #temoignages h3{
        font-size: 2vw;
    }

    #temoignages .student-image{
        height: 18vh;
        width: 18vw;
    }

    #temoignages p{
        font-size: 1.5vh;
    }
}

/* iPad */
@media screen and (max-width: 768px) {


    #temoignages .mobile-picture{
        justify-content: center !important;
    }


    #temoignages p{
        font-size: 2vh;
    }

}

@media (max-width: 576px) {

    #temoignages h2{
        text-align: center;
        font-size: 6vw;
    }

    #temoignages .student-comment{
        height: 40vh;
    }

    #temoignages .mobile-picture{
        justify-content: center !important;
    }

    #temoignages .student-image{
        height: 20vh;
        width: 35vw;
    }

    #temoignages h3{
        font-size: 3.5vw;
        margin-top: 1vh;
    }

    #temoignages p{
        font-size: 3vw;
        text-align: center;
    }


}

/* JavaScript Event back-to-top */
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: #1A8CFF;
    border: 2px solid #FFFFFF;
    width: 50px;
    height: 40px;
    font-size: 25px;
    color: #FFFAF2;
    text-align: center;
    border-radius: 5%;
    display: none;
}

