.member-page-container, #edit{
    margin-top: 15vh;
}

.member-page-container .btn, #edit .btn{
    background-color: #0066CC;
    color: #FFFFFF;
    border-radius: 15px;
    box-shadow:  5px 2px 2px #C4C4C4;
}

.member-page-container .btn:hover{
    transform: translate(0, -5px);
    opacity: 1
}