#mentions-legales{
    margin-top: 10vh;
}

#mentions-legales h1{
    font-size: 3vh;
}

#mentions-legales h2{
    font-size: 2vh;
}

#mentions-legales p, #mentions-legales span{
    color: black;
    font-size: 1.8vh;
}