@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Poppins&family=Roboto+Slab:wght@600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Corinthia', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif
}

.navbar .navbar-nav .nav-link {
   font-size: 1.1em;
   position: relative;
}

.navbar .navbar-nav .nav-link:hover{
    color: rgba(25, 67, 136);
}
 
.navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color:  rgba(25, 67, 136);
    color: transparent;
    width: 0%;
    content: '.';
    height: 3px;
    transition: all 1s;
}
  
.navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
}


@media (max-width: 767.98px) {
    .navbar .responsive .nav-link{
        background: rgba(255, 255, 255, 0.8); 
    }
}





