@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Asap&family=Barlow+Condensed&display=swap');
*{
    box-sizing: border-box;
    font-family: 'ABeeZee', sans-serif;
}

@media (max-width: 767.98px) {
    .navbar .responsive{
        background: rgba(196, 196, 196, .2); 
    }
}





